<div class="h-screen w-6/12 mx-auto flex pt-28 justify-center">
  <div class="w-full h-auto">
    <h1 class="text-sans text-3xl text-indigo-900"><%= @cycle.name %></h1>
    <%= form_with(cycle: @cycle, local: true) do |form| %>
      <% if @cycle.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@cycle.errors.count, "error") %> prohibited this cycle from being saved:</h2>

          <ul>
            <% @cycle.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      
      <%= form.text_field :name, class: "p-16 bg-white focus:outline-none focus:shadow-outline border border-gray-500 rounded-md py-2 px-2 block appearance-none leading-normal w-full", autofocus: true, value: @cycle.name %>

      <h1 class="text-3xl mb-4">Components</h1>
      <% @cycle.components.each do |comp| %>
        <% if comp.keys[1] == 'impacts' %>
        <div class="field">
          <%= form.label 'cycle[:components_name]', "Component", class: 'text-lg mb-4' %>
          <%= form.text_field 'cycle[component_name]', class: "p-16 bg-white focus:outline-none focus:shadow-outline border border-gray-500 rounded-md py-2 px-2 block appearance-none leading-normal w-full", autofocus: true, value: comp["name"] %>
        </div>
        <div class="field">
          <%= form.label 'cycle[:components]', "Impacts", class: 'text-lg mb-4' %>
          <%= form.number_field 'cycle[climate_change]', class: "p-16 bg-white focus:outline-none focus:shadow-outline border border-gray-500 rounded-md py-2 px-2 block appearance-none leading-normal w-full mb-2", autofocus: true, value: comp["impacts"]["climate_change"] %>
          <%= form.number_field 'cycle[water_use]', class: "p-16 bg-white focus:outline-none focus:shadow-outline border border-gray-500 rounded-md py-2 px-2 block appearance-none leading-normal w-full mb-2", autofocus: true, value: comp["impacts"]["water_use"] %>
        </div>
        <% elsif comp.keys[1] == 'components' %>
          <%= form.label 'cycle[:components_name]', "Components", class: 'text-lg mb-4' %>
          <%= form.text_field 'cycle[component_name]', class: "p-16 bg-white focus:outline-none focus:shadow-outline border border-gray-500 rounded-md py-2 px-2 block appearance-none leading-normal w-full", autofocus: true, value: comp["name"] %>
          <div class="ml-5">
            <% comp["components"].each do |sub| %>
              
                <%= form.label 'cycle["impacts"]["component_name"]', "Component", class: 'text-lg mb-4' %>
                <%= form.text_field 'cycle["impacts"][component_name]', class: "p-16 bg-white focus:outline-none focus:shadow-outline border border-gray-500 rounded-md py-2 px-2 block appearance-none leading-normal w-full", autofocus: true, value: sub["name"] %>
              
              <%= form.label 'cycle[:components]', "Impacts", class: 'text-lg mb-4' %>
              <%= form.number_field 'cycle["impacts"][climate_change]', class: "p-16 bg-white focus:outline-none focus:shadow-outline border border-gray-500 rounded-md py-2 px-2 block appearance-none leading-normal w-full mb-2", autofocus: true, value: sub["impacts"]["climate_change"] %>
              <%= form.number_field 'cycle["impacts"][water_use]', class: "p-16 bg-white focus:outline-none focus:shadow-outline border border-gray-500 rounded-md py-2 px-2 block appearance-none leading-normal w-full mb-2", autofocus: true, value: sub["impacts"]["water_use"] %>
            <% end %>
          </div>
        <% end %>
      <% end %>

      <div class="actions">
        <%= link_to 'Update Cycle', edit_cycle_path(@cycle), class: 'rounded bg-indigo-900 hover:bg-blue-700 py-2 px-4 text-white' %>
      </div>
    <% end %>
  </div>
</div>


